html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: Lato;
}

h1,h2,h3,h4,h5,h6 {
  font-family: Ubuntu;
  font-weight: 600;
}
h1 {font-size: 3rem;}
h2 {font-size: 2.5rem;}
h3 {font-size: 1.8rem;}
h4 {font-size: 1.5rem;}
h5 {font-size: 1.3rem;}
h6 {font-size: 1.1rem;}

nav {
  border: 0px !important;
  /*height: 60px;*/
  background-color: black; 
}
nav * {
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d; /* Safari hardware accel */
}
nav .icon-bar {
  background-color: white;
}
nav li {
  height: 100%;
  display: inline-block;
  position: relative !important;
}
nav li a {
  font-size: 1.6rem;
  font-weight: 100;
  font-family: Lato;
  color: white !important;
  text-align: center;
  text-shadow: none !important;
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
nav li a:hover,
nav li a.active {
  color: #d9534f !important;
  background: black !important;
}
.navbar-header, #navbar, #navbar ul, #navbar ul a {
  line-height: 110%;
  /*height: 60px;*/
}
.navbar-nav {
  margin-bottom: 0px;
}
.navbar-brand {
  color: black;
  padding: 2px 0 0 0;
  overflow: hidden;
  height: 58px;
}
.navbar-brand img {
  height: 100%;
}
.navbar-collapse {
  padding-right: 0px;
  padding-left: 0px;
  border: 0px;
}


#intro-carousel {
  margin-top: 58px;
  height: 68vh;
  overflow: hidden;
  border-bottom: 4px solid black;
}
.carousel-inner {
  height: 100%;
}
.item {
  height: 100%;
}
.item img {
  position: absolute;
  top: 0px;
  width: 100%;
}
.coll {
  overflow: hidden;
}

.coll img {
  position:relative;
  float: left;
  top: 0px;
  width: 50%;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

.carousel-caption {
  text-align: left;
  left: 10%;
}
.carousel-caption h1 {font-size: 5rem;}
.carousel-caption h2 {font-size: 3rem;}
.carousel-caption h3 {font-size: 1.8rem;}
.carousel-caption p {font-size: 1.5rem;}
.carousel-caption h1, .carousel-caption h2, .carousel-caption h3, .carousel-caption p {
  text-shadow: 2px 2px black;
}
.carousel-control:hover,
.carousel-control:focus,
.carousel-control.right,
.carousel-control.left,
.right-carousel-control:hover,
.left-carousel-control:hover {
  filter: none;
  background-image: none;
}
.carousel-control {
  height: 60px;
  width: 80px;
  top: 45%;
  background: rgba(0,0,0,.3);
  border-radius: 4px;
  -webkit-transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -ms-transition: background .25s ease-in-out;
  transition: background .25s ease-in-out;
}
.right.carousel-control {right:-8px;}
.left.carousel-control {left:-8px;}
.carousel-control:hover {
  background: rgba(0,0,0,1)
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
  right: 50%;
}
.carousel-control .icon-next, .carousel-control .glyphicon-chevron-left {
  left: 50%;
}



#services, #reviews, #products, #contact, #gallery {
  position: relative;
  padding: 50px 0 50px 0;
}

#services .row,
#reviews .row,
#promo .row,
#products .row,
#contact .row,
#gallery .row {
  margin: 75px 0 75px 0;
}

#services .sv-img img{
  border: 4px solid black;
}
#services video {
  display: block;
  margin: 0 auto;
  width: 75%;
  border: 4px solid black;
}

#gallery .col-md-3 {
  height: 210px;
}
#gallery img {
  border: 4px solid black;
  min-width: 100%;
  height: 100%;
  cursor: pointer;
  -webkit-transition: border .25s ease;
  -moz-transition: border .25s eas;
  -ms-transition: border .25s ease;
  transition: border .25s ease;
}
#gallery img:hover {
  border: 8px solid #d9534f;
}

#truck {
  width: 100%;
}

.modal-dialog {
  width: 75%;
}
.modal-content {
  border-radius: 0px !important;
}
.modal-header {
  border: none;
}
.modal-body img {
  display: block;
  width: 50%;
  margin: 0 auto;
}
.modal-body img[src="img/im7.jpg"] {
  width: 80%;
  margin: 0 auto;
}

blockquote {
  border-left: 4px solid black;
  border-bottom: 4px solid black;
  margin: 5px 10px 5px 10px;
  padding: 5px 3px 20px 20px;
  quotes: "\201C""\201D";
}
blockquote:before {
  color: black;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
blockquote p {
  display: inline;
}


#promo {
  margin-top: 50px;
}
#promo button {
  color: #777;
}
#promo .btn-primary {
  background-color: #d9534f !important;
}

.btn-primary {
  border: none;
  border-radius: 0px;
}
.pro-img {
  max-height: 220px;
  max-width: 100%;
  border: 4px solid black;
  overflow: hidden
}
.pro-img img {
  width: 100%;
}
.brand-logos {
  border-top: 4px solid black;
  height: 44px;
  padding: 2px 0px 2px 0px;
}
.brand-logos img {
  position: relative;
  float: left;
  height: 100%;
  width: auto;
  overflow: hidden;
  margin: 0px 4px 0px 4px;
}


.product {
  position: relative;
  border-radius: 100px;
  height: 175px;
  width: 175px;
  overflow: hidden;
  margin: 0 auto;
  border: 4px solid black;
  -webkit-transition: border .25s ease-in-out;
  -moz-transition: border .25s ease-in-out;
  -ms-transition: border .25s ease-in-out;
  transition: border .25s ease-in-out;
}

.product img {
  display: block;
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
}

.items .product img { /*Temp img adjust*/
  width: 45%;
  left: 28%;
}

.product a {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
/*  line-height: 165px;
  font-size: 1.5rem;
  text-align: center;
  font-family: Ubuntu;
  color: white;
  -webkit-transition: background .25s ease-in-out;
  -moz-transition: background .25s ease-in-out;
  -ms-transition: background .25s ease-in-out;
  transition: background .25s ease-in-out;*/
}

.product:hover {
  border: 8px solid #d9534f;
}
.product:hover a {
  /*display: block;*/
  /*background: rgba(0,0,0,.3);*/
}


#contact i {
  font-size: 1.5rem;
  margin-right: 15px;
}

#contact i, #contact h4 {
  display: inline;
}
#contact p, #contact a {
  display: block;
  font-size: 1.1rem;
}




footer {
  font-size: 1.1rem;
  color: black;
}

footer a {
  color: black;
}

footer p {
  margin: 8px 0 8px 0;
}

footer p i.fa {
  margin: 0 5px 0 0;
}

.footer-above {
  background-color: #d9534f;
  padding-bottom: 25px;
}
.footer-below {
  background: black;
  color: white;
  padding: 10px 0 10px 0;
}

.btn-social {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: 2px solid black;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn-outline {
  margin-top: 15px;
  border: solid 2px black;
  font-size: 20px;
  color: black;
  background: 0 0;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
  transition: all .25s ease-in-out;
}

.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
    border: solid 2px black;
    color: #d9534f;
    background: black;
}

a {
  color: #d9534f;
}
a:hover {
  color: black;
}

a:link {
  text-decoration: none;
}

a, button {
  outline: 0 !important;
}

.hover-black {
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
.hover-black:hover {
  color: black !important;
}
.hover-black a {
  -webkit-transition: color .25s ease-in-out;
  -moz-transition: color .25s ease-in-out;
  -ms-transition: color .25s ease-in-out;
  transition: color .25s ease-in-out;
}
.hover-black a:hover {
  color: black;
}




@media only screen and (max-width: 1420px) {
  .coll img {width: 50%;}
}
@media only screen and (max-width: 720px) {
  .coll img {width: 100%;}
}

@media only screen and (max-width: 990px) {
  .footer-col {text-align: center !important;}
  #intro-carousel {height: 400px;}
}

@media only screen and (min-width: 768px) and (max-width: 959px) {}

@media only screen and (max-width: 767px) {
  .carousel-control {display: none;}
  .item img {top: 0px;}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .carousel-caption h1 {font-size: 12vw;}
  .carousel-caption h2 {font-size: 8vw;}
  .carousel-caption h3 {font-size: 5vw !important;}
  .item img {
    /*min-height: 80vh;*/
  }
}

@media only screen and (max-width: 479px) {
  .carousel-caption h1 {font-size: 12vw !important;}
  .carousel-caption h2 {font-size: 8vw !important;}
  .carousel-caption h3 {font-size: 5vw !important;}
  .carousel-caption p {font-size: 5vw !important;}
  .item img {
    /*min-height: 80vh;*/
    /*width: auto;*/
  }
}







.hfx {
  overflow: hidden;
}
/* Heads up: double colon pseudo elements don't work with old IE versions */
.hfx::before {
  /* Overcompensated with 7px and hidden overflow
     due to slight height shrinkage in chrome */
  border-bottom: 7px solid white;
  -webkit-transform: scale(0,1);
  -moz-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}
.hfx::before{
  content: "";
  opacity: 0;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: -4px;
  left: 0px;
  -webkit-transition: -webkit-transform 0.25s ease-in-out, opacity 0.25s ease-in-out , border 0.25s ease-in-out;
  -moz-transition: -moz-transform 0.25s ease-in-out, opacity 0.25s ease-in-out , border 0.25s ease-in-out;
  -ms-transition: -ms-transform 0.25s ease-in-out, opacity 0.25s ease-in-out , border 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out , border 0.25s ease-in-out;
}
.hfx:hover::before,
.hfx.active::before {
  opacity: 1;
  border-color: #d9534f;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}
