include base
+base()
  section#services
    .container
      h2.home-heading.text-center About
      +rimg("Embroidery Digitizing", "EmbroidMe provides professional, custom embroidery digitizing services, custom logo digitizing, and apparel by skilled designers. We provide this digitizing service at a highly competitive price.", "img/store1.jpg")
      hr
      +limg("Logo Design", "EmbroidMe provides high-caliber logo design. We can create a logo for you at reasonable rates and offer corporate logo packages at unmatched prices. Browse through our online logo design gallery and you will see the quality of work we will deliver. Your company logo embodies your business. EmbroidMe is a one-stop solution for your logo design.", "img/store2.jpg")
      hr
      +rimg("Flyer Design", "Professional postcards, leaflets, flyers & posters can make a big impact for your organization at trade shows and marketing events. We design creative flyers that represent the core values and ideologies of your company. A flyer can substantially increase brand awareness among your customers.", "img/store3.jpg")
      hr
      +limg("Branding", "EmbroidMe assists with your corporate branding and identity, allowing you to stand out in your respective marketplace. This branding service that we provide encompasses logo & other graphic designs. Make a lasting impression on your clients, as nothing will have a greater empirical impact on your business than an professional corporate identity.", "img/store4.jpg")
      hr
      +rimg("Brochure Design", "EmbroidMe designs business, corporate, product, trifold, and catalogue brochures. We strongly believe that unique brochures will be rewarding in the long run for your organization. Progenation of creative brochure ideas, synchronization of distinct design elements, and their effective execution should to be implemented in the arms of highly-skilled EmbroidMe designers.", "img/store5.jpg")
      hr
      +limg("Business Cards", "If you’re looking for a great, professional business card design, you’ve come to the right place. EmbroidMe has helped people and companies to create excellent business card designs. You will choose custom business card designs that you will be unable to allocate from anywhere else. Our professionally designed and printed unique business cards & stationary will leave a lasting impression on your potential clients.", "img/store1.jpg")
      hr
      +rimg("Vehicle Wraps", "EmbroidMe also offers our clients vehicle-wrapping solutions. We create excellent, high-resolution car wraps, truck wraps, and fleet wraps to cost-effectively assist your organization's brand. EmbroidMe is the trusted car wrap graphics-manufacturer that has assisted many companies in marketing their products and brands.", "img/store2.jpg")
      hr
      +limg("Artwork", "EmbroidMe can transform your rough sketches and layouts into professional artwork that will have excellent aesthetic value. We specialize in converting any graphic into vector artwork. We have a professional graphic design team that specializes in creating camera–ready artwork for distributors & suppliers in the promotional products industry. Our vector files can be used for screen printing, digital printing & vinyl cutting. We are providing famous artwork services to our clients.", "img/store3.jpg")


