include base
+base()
  section#contact
    .container.text-center
      h2.home-heading Contact
      .row
        .col-md-6
          i.fa.fa-fw.fa-phone
          h4 Phone:
          p: a(href="tel:4809989199") (480)-998-9199
        .col-md-6
          i.fa.fa-fw.fa-fax
          h4 Fax:
          p (480)-607-6858
      .row
        .col-md-6
          i.fa.fa-fw.fa-map-marker
          h4 Address:
          p 6245 E Bell Road
          p #114 Scottsdale AZ 85284
        .col-md-6
          i.fa.fa-fw.fa-envelope
          h4 Emails:
          p: a(href="mailto:scottsdale@embroidme.com") scottsdale@embroidme.com
          p: a(href="mailto:scottsdale@azembroidme.com") scottsdale@azembroidme.com