include base
+base()
  section#intro
    #intro-carousel.carousel.slide(data-ride="carousel")
      ol.carousel-indicators
        li(data-target="#intro-carousel" data-slide-to="0")
        li(data-target="#intro-carousel" data-slide-to="1")
        li.active(data-target="#intro-carousel" data-slide-to="2")
      .carousel-inner(role="listbox")
        .item.coll.active
          img(src="img/ray2.jpg" alt="First slide")
          img(src="img/ray1.jpg")
          img(src="img/ray3.jpg")
          .carousel-caption.text-left
            //- h1 EmbroidMe
            h2 Embroidery Services
        .item
          img(src="img/nimg4.jpg" alt="Second slide")
          .carousel-caption
            h2 Excellent Craftsmanship
            p EmbroidMe's professional embroiders relentlessly pursue exceptional quality with each product. We can work on pants, shirts, blouses, jackets, blazers, zippers, dresses, skirts, gowns, leathers & numerous other items.
        .item
          img(src="img/nimg5.jpg" alt="Third slide")
          .carousel-caption
            h2 Located in Scottsdale
            p As one of the few Scottsdale-based embroiders, EmbroidMe offers an unrivaled penchant for cost-effective quality.
      a.left.carousel-control(href="#intro-carousel" role="button" data-slide="prev")
        span.glyphicon.glyphicon-chevron-left(aria-hidden="true")
        span.sr-only Previous
      a.right.carousel-control(href="#intro-carousel" role="button" data-slide="next")
        span.glyphicon.glyphicon-chevron-right(aria-hidden="true")
        span.sr-only Next


  section#services
    .container
      h2.home-heading.text-center Services
      +rimg("Embroidery & Screen Printing", "EmbroidMe provides professional, custom embroidery services, custom screen printing & apparel by skilled designers. We provide this embroidery service at a highly competitive price.", "img/nimg7.jpg")
      hr
      +limg("Outerwear & Team Wear", "Our proficient embroiders can provide unparalleled quality in outerwear & team wear embroidery. Need your team's logo on custom clothing? We'll fill that need with unrivaled embroidery.", "img/nimg6.jpg")
      hr
      +rimg("Wedding & Social Stationery", "Looking for unique & beautiful stationery? EmbroidMe excels at designing & creating stationery that accurately reflects your event & will leave a lasting impression upon those who recieve them. To see our wedding products and services, visit <a href='http://weddingsaz.carlsoncraft.com/index.jsp'>weddingsaz.carlsoncraft.com</a>.", "img/wedding.png")
      hr
      .row
        video(controls onended="playNextVideo()"): source(src="img/video1.mp4" type="video/mp4")

  section#gallery
    .container
      h2.home-heading.text-center Gallery
      .row
        .col-md-3: img(type="button" data-toggle="modal" data-target="#im1" src="img/im1.jpg")
        .col-md-3: img(type="button" data-toggle="modal" data-target="#im2" src="img/im2.jpg")
        .col-md-3: img(type="button" data-toggle="modal" data-target="#im3" src="img/im3.jpg")
        .col-md-3: img(type="button" data-toggle="modal" data-target="#im4" src="img/im4.jpg")
      .row
        .col-md-3: img(type="button" data-toggle="modal" data-target="#im5" src="img/im5.jpg")
        .col-md-3: img(type="button" data-toggle="modal" data-target="#im6" src="img/im6.jpg")
        .col-md-6: img#truck(type="button" data-toggle="modal" data-target="#im7" src="img/im7.jpg")

  section#reviews
    .container
      h2.home-heading.text-center Testimonials
      .row
        .col-md-4
          h3.featurette-heading.text-center Joseph
          blockquote: p.lead EmbroidMe consistently delivers quality work. Their affinity for craftsmanship & design is impressive.
        .col-md-4
          h3.featurette-heading.text-center Nathan
          blockquote: p.lead Thanks to EmbroidMe for the great embroidery job they did. The shirts looked great at our trade show!
        .col-md-4
          h3.featurette-heading.text-center George
          blockquote: p.lead It's easy to get excited when working with EmbroidMe again. Their cost-effective solutions are first-rate.


  +img-modal("im1", "img/im1.jpg")
  +img-modal("im2", "img/im2.jpg")
  +img-modal("im3", "img/im3.jpg")
  +img-modal("im4", "img/im4.jpg")
  +img-modal("im5", "img/im5.jpg")
  +img-modal("im6", "img/im6.jpg")
  +img-modal("im7", "img/im7.jpg")

