include base
+base()
  section#promo
    .container
      h2.home-heading.text-center Promotional
      mixin pro(title, src, desc, link)
        .col-md-4
          h3=title
          .pro-img
            img(src=src)
          p=desc
            br
            br
            a.btn.btn-primary(href=link target="_blank" role="button") View &#187;
      .row
        +pro("Apparel Catalog", "img/promo1.jpg", "4Logo Apparel is a great way to shop for clothing by brand & category. 4Logo has numerous brands you can choose from.","http://www.4logoapparel.com/")
        +pro("Promotional Products", "img/promo2.jpg", "These promotional products are not limited to just clothing, but rather a wide range of items that can be used every day.","http://azembroidme.norwood.com/")
        +pro("Brand Book", "img/promo3.jpg", "Shopping for clothes on Brand Book is an efficient way to find the exact brands & products you're looking for.", "http://www.brandbookonline.com/vip")
      .row
        +pro("Bag Products", "img/promo4.jpg", "Gemline is a streamlined, yet personalized shopping experience aimed at helping you find splendid bags & other products.","http://www.gemline.com/Gemline/")
        +pro("Casual Wear", "img/promo5.jpg", "Shopping EmbroidMe via Company Casuals is an organized, direct method of shopping for the clothes & accessories that you've been searching for.","http://www.companycasuals.com/azembroidme/start.jsp")
        +pro("Sports Wear", "img/promo6.jpg", "A superior sports-wear shopping experience, forsportswear.com is dedicated to delivering the widest range of sports apparel & accessories.","http://www.forsportswear.com/")